/.fleet
/.idea
/.nova
/.phpunit.cache
/.temp
/.vscode
/.zed
/auth.json
/modules/*/node_modules
/modules/*/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/temp
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
