/* TailwindCSS */
@import 'tailwindcss';

/** DaisyUI */
@plugin "daisyui";

@source '../views';
@source '../../modules/*/resources/views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current='page'] > span {
    @apply bg-primary text-base-100;
}

.mary-table-pagination button {
    @apply cursor-pointer;
}

/* Module Assets */
@import '../../modules/UI/resources/css/app.css';
